@page
@model NotesManager.Pages.Notes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Note.ID" />
            <div class="form-group">
                <label asp-for="Note.Author" class="control-label"></label>
                <input asp-for="Note.Author" class="form-control" />
                <span asp-validation-for="Note.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.PostDate" class="control-label"></label>
                <input asp-for="Note.PostDate" class="form-control" />
                <span asp-validation-for="Note.PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Value" class="control-label"></label>
                <input asp-for="Note.Value" class="form-control" />
                <span asp-validation-for="Note.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
